*{
    text-align: center;
    margin: 5px;
    padding: 5px;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    color: black;
    background-color: rgb(237, 56, 56);
}
section {
    margin:20px;
    padding:10px;
    border:4px solid black;
    border-radius:10px;
    background-color: rgb(29, 138, 240);
}

h1,h2 {
    margin-bottom: 1rem;
}